# Group by error of output.xml

# Loading the library

In [1]:
import xml.etree.ElementTree as ET
import sqlite3
from sqlite3 import Error
import os
import subprocess
import time
import pandas as pd

In [2]:
#Location of outputxml which needs to be parsed 
path=input("Enter the Absolute path of xml")
output_path=path
os.chdir(output_path)

Enter the Absolute path of xmlC:\Users\espianm\Desktop\Ericsson_Training\rerun

# Creating a data frame

In [14]:
data={'Test Case Name':['pankaj'],'Error':['test'],'Simplified Text':['Simplified Test']}
df=pd.DataFrame(data,columns=['Test Case Name','Error','Simplified Text'])
df

  Test Case Name Error  Simplified Text
0         pankaj  test  Simplified Test

# Parse the xml

In [15]:
#parsing the xml
test_case_name=[]
error=[]
tree = ET.parse('output.xml')
root = tree.getroot()
for test in root.iter('test'):
    try:
        status = test.find('status').text[:100]
        
    except:
        status='status not found'
    
    name = test.get('name')
    test_case_name.append(name)
    error.append(status)

In [16]:
data={'Test Case Name':test_case_name,'Error':error,'Simplified Text':''}
df=pd.DataFrame(data)
df.head()

,Test Case Name,Error,Simplified Text
0,001 Copy CR with mandatory parameters where so...,AssertionError,
1,001 Create and Retrieve Complex CR with all pa...,AssertionError,
2,020 Create and Update complex CR with all poss...,status not found,
3,001 Disconnect CR with mandatory and optional ...,AssertionError,
4,002 Transfer CR with mandatory and optional pa...,AssertionError,

In [17]:
#Deleting passed record
df = df[df.Error != "status not found"]

In [18]:
df.shape

(10, 3)

In [19]:
df.groupby(['Error']).count()

                Test Case Name  Simplified Text
Error
AssertionError              10               10

In [20]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [21]:
df.sort_values("Error", axis = 0, ascending = True, 
                 inplace = True, na_position ='last')

In [22]:
df.head(36)

                                       Test Case Name           Error Simplified Text
0   001 Copy CR with mandatory parameters where so...  AssertionError
1   001 Create and Retrieve Complex CR with all pa...  AssertionError
3   001 Disconnect CR with mandatory and optional ...  AssertionError
4   002 Transfer CR with mandatory and optional pa...  AssertionError
5      001 Copy CR with mandatory parameters AT-75647  AssertionError
6   001 Create a CR with mandatory parameters AT-6...  AssertionError
7   009 Create a CR with optional parameters AT-72321  AssertionError
11  001 Complex TR Create, Retrieve, Update and De...  AssertionError
12    001 Complex TR CRUD and CTD with all parameters  AssertionError
13  001 Multiple number query for Spare, Reserved ...  AssertionError

# passing to csv

In [11]:
#storing the values to a csv file 
df.to_csv('group_by_error.csv', sep=',', columns=['Test Case Name','Error'],encoding='utf-8',index = None, header=True)